@import 'ngx-toastr/toastr';

body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {

        width: 125px;
        margin-top: 10rem;

    }
}